<!DOCTYPE html>

<html lang="ko">

<head>
    <link rel="stylesheet" href="./delivery.css" />
    <link rel="shortcut icon" href="image/favicon.ico">
    <link rel="icon" href="/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <meta name="google-site-verification" content="hq3RNYKc6bcpu34VoMA1JeYDUmsobiVQmIFNxeah9tM" />
    <title>앤마들린 로그인</title>
    <meta name="description" content="앤마들린 모델 서비스로 매일 옷고민 끝!" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>


    </script>
</head>

<body>
    <header class="header">
        <div class="scrollCss">
            <a href="/">
                <h1></h1>
            </a>
            <nav class="navigation">

            </nav>
        </div>
        <div class="headerDiv">
            <p class="headerWord"></p>
            <p class="headerWord"></p>
        </div>
    </header>

    <section class="loginSection">
        <p>
            <span class="complete_bigWord">신청이 완료되었습니다.</span>
            <span class="complete_bigWord alert">주의사항</span>
        <p class="complete_p">
            <span class="complete_smallWord">- 제품 선택 완료시 <span style="color :#fbbb65; font-size: 15px;">로그인</span> 창에서 <span style="color :#fbbb65; font-size: 15px;">내가 입은 옷 해쉬태그</span>로 태그(해시태그, 사람태그) 확인 가능</span>
            <span class="complete_smallWord">- 반납 전 인스타그램 포스팅 완료</span>
            <span class="complete_smallWord">- 포스팅시, 의상의 90% 이상 노출</span>
            <span class="complete_smallWord">- 수령 및 반납 시간 준수</span>
            <span class="complete_smallWord">- 인스타그램 프로필 nmodelin.com 상시 유지</span>
            <span class="complete_smallWord">- 인스타그램 아이디 변경시 고지 필수</span>
            <a href="/login" id="deliveryApply" class="applyButton"
                style="display: block; width: 280px; margin-left: 29px; font-size: 14px; padding: 12px; margin-top: 33px;">로그인 화면으로 가기
            </a>
        </p>
        </p>
    </section>

</body>

</html>